<<<<<<< HEAD
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:local("Material Icons"),local("MaterialIcons-Regular"),url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2")}.section-slider-medio.Profesional{background-color:black;padding-top:100px}.section-slider-medio.Profesional a.middle-indicator-text{color:white;border:solid 1px white;margin-bottom:50px}.section-slider-medio .carousel{min-height:500px !important;margin-bottom:100px}.section-slider-medio .carousel .carousel-item{display:flex;justify-content:center;height:514px !important;width:342px !important;opacity:1 !important}@media only screen and (max-width: 600px){.section-slider-medio .carousel .carousel-item{height:434.38px !important;width:289px !important;margin-left:20px !important}.section-slider-medio .middle-indicator{display:none}}.section-slider-medio .carousel .carousel-item img{width:100%;height:100%;object-fit:cover;margin-left:20px !important;margin-right:20px !important}.section-slider-medio .left,.section-slider-medio .right{width:55px;height:55px;margin-bottom:50px}.section-slider-medio .material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-moz-font-feature-settings:'liga';-moz-osx-font-smoothing:grayscale}.section-slider-medio .middle-indicator{position:relative;right:44%;left:44%;width:150px}.section-slider-medio .middle-indicator-text{font-size:4.2rem}.section-slider-medio a.middle-indicator-text{color:black;border:solid 1px black;margin-bottom:50px}.section-slider-medio .material-icons{margin:0 !important}.section-slider-medio .indicators{visibility:hidden}.section-slider-hover h2{text-align:center;font-size:48px;font-weight:bold}.section-slider-hover.Profesional{background-color:black;padding-top:100px}.section-slider-hover.Profesional h4{color:#fff}.section-slider-hover.Profesional h2{color:#fff}.section-slider-hover.Profesional .item:hover h4{font-weight:bold;font-size:36px;line-height:46px;color:#009641}.section-slider-hover .carousel{width:1250px;height:fit-content;margin:auto !important}.section-slider-hover .carousel-cell:before{display:block;text-align:center;content:counter(carousel-cell);line-height:200px;font-size:80px}.section-slider-hover .item{margin:10px}.section-slider-hover .item img{height:425px !important;width:284px !important}.section-slider-hover .item h4{text-align:center}.section-slider-hover .item img:hover{height:446px !important;width:304px !important;margin-top:-10px !important;margin-left:-10px}.section-slider-hover .item img:hover h4{color:black;font-weight:bold;font-size:36px;line-height:46px}@media only screen and (max-width: 600px){.section-slider-hover .carousel{margin-left:50px !important}}.section-video-home{background:linear-gradient(180deg, #fff 70%, #000 30%);height:100%;padding-top:100px}.section-video-home.Profesional{background:linear-gradient(180deg, #000 70%, #fff 30%) !important}.section-video-home .embed-container{position:relative;justify-content:center;display:flex;align-content:center;margin-bottom:50px !important}.section-video-home .boton-video-home{display:flex;justify-content:flex-end;margin-right:150px}@media (max-width: 991px){.section-video-home .boton-video-home{justify-content:center !important;margin-left:0 !important;margin-right:0 !important}}.section-video-home .boton-video{margin-top:-150px;z-index:9999}.section-video-home .boton-video-home a{width:313px;height:50px;color:white !important;background:#EE3031;display:flex;align-items:center;justify-content:center;color:white !important;font-family:Roboto;font-style:normal;font-weight:500;font-size:18px;line-height:21px;letter-spacing:0.0125em}.section-card-producto{padding-top:25px}.section-card-producto .carousel{width:1250px;height:fit-content;margin:auto !important}.section-card-producto .carousel-cell:before{display:block;text-align:center;content:counter(carousel-cell);line-height:200px;font-size:80px}.section-card-producto .card-producto{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:start;font-family:'Roboto'}.section-card-producto .card{width:405px;height:fit-content;margin:5px;border:2px solid #DFDFDF;box-shadow:none}.section-card-producto .categoria{font-size:18px;font-weight:400}.section-card-producto .card-title{margin-top:15px;margin-bottom:30px !important;font-size:48px;font-weight:700}.section-card-producto .descripcion{font-size:18px;font-weight:400}.section-card-producto .action{display:flex !important;flex-direction:row;align-items:center;justify-content:space-around;margin-bottom:20px}.section-card-producto .action .precio{width:100px;margin-right:100px;justify-content:start;color:#00873A;font-size:20px}.section-card-producto .action .boton{justify-content:end}.section-card-producto .action .boton .btn-cotizar{border:1px solid #000;color:black;box-sizing:border-box;font-size:18px;padding:10px;font-weight:500;font-family:'Roboto'}.section-card-producto.Profesional{background-color:#000}.section-card-producto.Profesional .card{background-color:#000;color:#fff}.section-card-producto.Profesional .action .btn-cotizar{border:1px solid #fff;color:white}.section-card-producto .boton-card-producto{display:flex;justify-content:center;margin-top:50px !important;padding-bottom:10px !important}.section-card-producto .boton-card-producto a{width:313px;height:50px;color:white !important;background:#EE3031;display:flex;align-items:center;justify-content:center;color:white !important;font-family:Roboto;font-style:normal;font-weight:500;font-size:18px;line-height:21px;letter-spacing:0.0125em}.section-bloque1{height:200px}.section-bloque1 .ache{font-size:100px}.section-bloque1.Amateur{background:white}.section-bloque1.Amateur .ache{color:black}.section-bloque1.Profesional{background:black}.section-bloque1.Profesional .ache{color:white}
=======
/*!
Theme Name: Wilier Theme
Theme URI: http://wilier.com/
Author: Alejandro Pelaez
Author URI: http://alejandro.pelaez940204.com/
Description: Wilier Theme
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: empty-theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Empty Theme is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
>>>>>>> 4f897630a7fd55c4b7aeb60474687b1b23f31d13
