
.itemComentariosCliente .carousel-item-next,.itemComentariosCliente .carousel-item-left,.itemComentariosCliente .carousel-item-prev,.itemComentariosCliente .carousel-item-right{
    z-index: -1;
}
.slider_container_comentarioCli{
    padding-top: 80px;
    padding-bottom: 141px;
    position: sticky;
}

.carousel-item-next .item-cliente {
    display:none;
}
.item-cliente{
    display:flex !important;
    justify-content: space-between;
    height: 100%;
}
.heightTotal{
    height:100%;
}
.imagenComentarioCliente{
    height:400px;
    width:900px;
    position:absolute;
    right:0;
    z-index: -1;
    padding:2px 0;
}
.imagenComentarioCliente img{
    height:auto;
    width:100%;
    object-fit:cover;
}
.containerCarousel{
    height: 400px;
    background-size: cover;
    background-position: right;
}
#shape-container {
    height: 400px;
    width:70vw;
  }
.comentarioRelativeContainer{
    height: 100%;
}
.pComentarios{
    width:40%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.nombreDelCliente{
    font-family: Roboto;
    font-style: normal;
    font-weight:bold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.0025px;
    color:#EE3031;
}
.comentarioDelCliente{
    font-family: Roboto;
    font-style: normal;
    font-weight:normal;
    font-size: 18px;
    line-height: 21px;
}

.container-slider-item{
    width:100%;
    display:flex;
    justify-content:flex-end;
}
.vistaMovil{
    display:none;
}
@media (max-width: 1200px) {
    .imagenMovilComent{
        width:100%;
        height:auto;
    }
    .imagenMovilComent img{
        width:inherit;
        height:inherit;
        object-fit:cover;
    }
    .item-cliente{
        display:none !important;
    }
    .comentarioInfoContainer{
        position: initial;
        width:100%;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    .containerCarousel{
        background-image: none !important;
        height:fit-content;
    }
    .vistaMovil{
        display:block;
    }
}
@media (min-width: 800px) and (max-width: 1000px) {
    .agenteContainer{
        height:400px;
    }
}