.agente_nombre{
    font-size: 16px;
    font-weight: bold;
    margin:0 !important;
}
.btnSliderContainer{
    display: flex;
    justify-content:center;
}

.agenteContainer{
    height:510px;
    display: flex;
    position: relative;
}
.slider_title_bloque_mundo{
    text-align: start;
    font-size:36px;
    font-weight: bold;
    font-family: Roboto;
}
.whiteColorText{
    color:white !important;
}
@media (max-width: 800px) {
.agenteContainer{
    height:fit-content;
    position: initial;
    flex-direction: column-reverse;
    }
}