
.primeraImagen img{
    width:inherit;
    height:inherit;
    object-fit:cover;
}
.primeraImagen{
    width:100%;
   /*  height: 35vh; */
   height:463px;
}
.seccionContainer,.imagenesLaterales{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.containerTresFotos{
    display:flex;
    justify-content:center;
}

.imagenesLaterales{
    width:50%;
    /* height: 90vh; */
    height:1151px;
}
.imagenDerecha{
    width:50%;
   /*  height:90vh; */
   height:1151px;
}
.imagenDerecha img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.imagenizquierda{
    width:100%;
    height:48%;
    margin-bottom: 2%;
}
.imagenizquierda img{
    width:inherit;
    height:100%;
    object-fit:cover;
}
.nombreSeccion{
    display:flex;
}
.slide-seccion{
    display:none;
}
@media (max-width: 800px) {
    .imagenesLaterales{
        width:100%;
        height:auto;
    }
    .responsiveImgSuperior{
        height:45vw;
    }
    .responsiveImgInferior{
        height:85vw;
    }
    .seccionContainer{
        display:none;
    }
    .slide-seccion{
        display:block;
    }
    }