.ContainerDosFotos{
    display: flex;
    justify-content:center;
    padding:60px 0;
}
.fotoIzquierdaDI{
    width:49%;
    margin-right: 2%;
    height:70vh;
}
.fotoDerechaDI{
    width:49%;
    height:70vh;
}
.fotoDerechaDI img,.fotoIzquierdaDI img{
    width:100%;
    height:100%;
    object-fit:contain;
}

@media (max-width:800px){
    .ContainerDosFotos{
        padding:5vw 0;
        flex-direction: column;
        align-items:center;
    }
    .fotoIzquierdaDI,.fotoDerechaDI{
        width:100%;
    }

}