
.section-por-categoria {
    
    .por-categoria {
        padding: 100px 0;
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

    }
    .izq {    
        justify-content: flex-start;
        width: 50%;
        text-align: justify;
        align-self: center;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }    
        .title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 30px;
        }
        .descripcion {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
        }
        .fondo {
            text-align: center;
            margin-top: 50px;
            @media only screen and (max-width: 600px) {
                display: none;
            } 
        }
        
        
    }
    .foto-der {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        @media only screen and (max-width: 600px) {
            display: none;
        }  
    }



    .post-bicicleta {

    .carousel {
        width: 1250px;
        height: fit-content;
        margin: auto !important;
      }
      
      /* cell number */
      .carousel-cell:before {
        display: block;
        text-align: center;
        content: counter(carousel-cell);
        line-height: 200px;
        font-size: 80px;
      }
          .card-producto {
               display: flex;
               flex-direction: column;
               flex-wrap: wrap;
               justify-content: start;
               font-family: 'Roboto';
           }
         
           .card {
               width: 405px;
               height: fit-content;
               margin: 5px;
               border: 2px solid #DFDFDF;
               box-shadow: none;
               @media only screen and (max-width: 600px) {        
                width: 390px !important;    
                visibility: hidden;
              }
           }
           @media only screen and (max-width: 600px) {           
            .card.is-selected {
                margin-left: 31px !important;
                visibility: visible !important;
            }  
          }
           .card-image img{
            object-fit: cover;
            width: 393px;
            height: 260px; 
            @media only screen and (max-width: 600px) {        
                width: 385px !important;      
              }
           }
           .categoria {
               font-size: 18px;
               font-weight: 400;
           }
          .card-title {
              font-size: 48px;
              font-weight: 700;
              margin-bottom: 0 !important;
           }
           .descripcion {
               font-size: 18px;
               font-weight: 400; 
               text-align: justify;
          }
          .card-content {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 30px;
          }
         
          .action {
              display: flex !important;
              flex-direction: row;
              align-items: center;         
              justify-content: space-around;
              margin-bottom: 20px;
      
              .precio {
                  width: 100px;
                   margin-right: 100px;
                  justify-content: start;
                   color: #00873A;
                  font-size: 20px;
               }
               .boton {
                   justify-content: end;         
                   .btn-cotizar {
                      border: 1px solid #000;
                     color: black;
                       box-sizing: border-box;
                      font-size: 18px;
                      padding: 10px;
                     font-weight: 500;
                       font-family: 'Roboto';
                   }
               }
          }
          &.Profesional {
              background-color: #000;
              .card {
                  background-color: #000;
                  color: #fff;
              }
              .action {
                  .btn-cotizar {
                      border: 1px solid #fff;
                      color: white;
                  }
              }
          }
         
      
          .boton-card-producto {
              position: relative;
              top: 85%;
              display: flex;
              justify-content: center;
              margin-top: 50px !important;
              padding-bottom: 10px !important;
          }
      
          .boton-card-producto a {
              width: 313px;
              height: 50px;
              color: white !important;
              background: #EE3031;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white !important;
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              letter-spacing: 0.0125em;
              text-decoration: none;
           }
      }
}