.section-categoria-bicicleta {
    display: flex;
    justify-content: center;

    
    .categoria-bicicleta {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: 'Roboto';
        max-width: 1250px;
        @media only screen and (max-width: 600px) {
        justify-content: center;
        }  
        

        .card {
            width: 405px;
            height: 610px;
            margin: 5px;
            border: 2px solid #DFDFDF;
            justify-content: space-between;
            box-shadow: none;
            @media only screen and (max-width: 600px) {        
             width: 390px !important;    
           }
           a {
               text-decoration: none;
               color: #000;
           }
        }
        @media only screen and (max-width: 600px) {           
         .card {
             margin-left: 0px !important;       
         }
         .card.is-selected {
             visibility: visible !important;
         }  
       }
        .card-image img{
         object-fit: cover;
         width: 393px;
         height: 260px; 
         @media only screen and (max-width: 600px) {        
             width: 385px !important;      
           }
        }
        .categoria {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: -10px;
        }
       .card-title {
           font-size: 48px;
           font-weight: 700;
           margin-bottom: 0 !important;
           width:100%;
        }
        
       .card-content {
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           padding: 12px 15px;
           height:45%;
       }
       .descriptionBici{
        height:100%;
        overflow:auto;
       }
       
       
       .descriptionBici p{
        font-size: 18px;
        font-weight: 400; 
        text-align: initial;
        margin-top: 12px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
       }

       .action {
           display: flex !important;
           flex-direction: row;
           align-items: center;         
           justify-content: space-between;
           margin-bottom: 20px;
           width: 100%;
           padding: 0 30px;  
           .precio {
               width: 100px;
                margin-right: 100px;
                margin-top: 5%;
                color: #00873A;
               font-size: 20px;
               text-align: initial;
               display: contents;
            }
            .boton {
                justify-content: end;
                   border: 1px solid #000;
                  color: black;
                    box-sizing: border-box;
                   font-size: 18px;
                  font-weight: 500;
                    font-family: 'Roboto';
                    width: 140px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

            }
       }
    }
}
.imagenSingleCatFlotante{
    position:absolute;
    left: 0;
    top: 0;
    width:fit-content;
    height: 100%;
    z-index: -1;
    @media only screen and (max-width: 1000px) {
        display:none;
    }
}
.imagenSingleCatFlotante img{
    height:100%;
}
.generalContainerSingleCat{
    position:sticky;
}
.seccion-intro {
    display: flex;
    justify-content: center;
    padding-top: 100px;

.por-categoria {
    display: flex;
    flex-direction: row !important;
    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.izq {    
    justify-content: flex-start;
    width: 50%;
    text-align: justify;
    align-self: center;
    padding-right: 150px;
    .foto-izq{
        margin-bottom: 5vw;
        display:none;
    }
    .foto-izq img{
        width:100%;
        height: inherit;
        object-fit: cover;
    }
    @media only screen and (max-width: 995px) {
        width: 100%;
        padding-right: 0 !important;
        .foto-izq{
            display:block;
            height: auto;
            width: 100%;
        }
    }    
    .title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 30px;
    }
    .descripcion {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
    }
    .fondo {
        text-align: center;
        margin-top: 50px;
        @media only screen and (max-width: 600px) {
            display: none;
        } 
    }
    
    
}
.foto-der {
    display: flex;
    justify-content: end;
    width: 100%;
    img {
    width:inherit;
    object-fit: cover;
    }
    @media only screen and (max-width: 995px) {
        display: none;
    }  
}
   
}

.titulo-modelo-categoria {
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    } 
