
.section-slider-medio {

  &.Profesional {
    background-color: black;
    padding-top: 100px;

    .flickity-prev-next-button {
        color: white;
        border: solid 1px white;
    }
}  
margin-bottom: 100px;
.carousel {
    height: 100% !important;
    margin: 0 !important;
}
.flickity-viewport {
  height: 700px !important;
}
.carousel-cell img{
  width: 342px;
  height: 514px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 40px !important;
}

/* cell number */


.carousel-cell.is-selected {
  // width: 400px !important;
  margin-top: -30px !important;
  width: fit-content !important;
  margin-left: -30px !important;
  margin-right: 30px !important;
 }
 .carousel-cell.is-selected img{
  margin-top: -75px !important;
  height: 700px;
  width: 403px !important;

 }
 
.flickity-prev-next-button.next {
    right: 45%;
}
.flickity-prev-next-button.previous {
    left: 45%;
}
.flickity-page-dots {
  display: none;
}
.flickity-prev-next-button {
  top: 105% !important;
  border: solid 1px #000;
  border-radius: 0% !important;
}
@media only screen and (max-width: 600px) {
  .flickity-prev-next-button {
    display: none;
  }
  .carousel-cell img {
    width: 289px;
    height: 434px;
    margin: auto !important;
  }
  .carousel-cell.is-selected img {
    width: 289px;
    height: 434px;
    margin: auto !important;
  }
}

}     