.section-bicicleta-template {
  
  .carousel {
    width: 100%;
    height: 100%;
    }
    
    .carousel-cell {
      width: 100%;
      height: 100vh;
      @media only screen and (max-width: 600px) {
        height: 50vh;
      }
    }
    
    /* cell number */
    .carousel-cell:before {
      display: block;
      text-align: center;
      line-height: 200px;
      font-size: 80px;
      color: white;
    }
    .flickity-prev-next-button{
      border-radius: 0% !important;
      background-color: transparent !important;
      border: 1px solid #fff;
      margin-left: 3%;
      margin-right: 3%;
    }
    .flickity-prev-next-button svg path{
      fill: #fff !important;
    }
    .flickity-page-dots {
      display: none;
    }

    .categoria-section {
      text-align: -webkit-center;
    }
    .categoria-titulo {
      padding-top: 50px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.005em;
      color: #7B91B1;
    }
    .categoria-name {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      color: #0B0B0B;
    }
    .categoria-descripcion {
      display: flex;
      flex-wrap: wrap;
    }
    .divs {
      width: 30%;
      margin: 5% 15% 5% 20%;
      }
    .categoria-texto-precio {
      text-align: -webkit-left;
    }
    .categoria-descripcion-texto {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.005em;
      color: #0B0B0B;
    }
    .precio-cat {
      margin-top: 30px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.005em;
      color: #00873A;
    }
      .boton-cotizar {
        border: 1px solid #000;
        color: black;
        box-sizing: border-box;
        font-size: 18px;
        padding: 10px;
        font-weight: 500;
        font-family: 'Roboto';
      }
      .boton-categoria {
        width: 140px;
        height: 40px;
        margin-top: 6%;
      }
    @media (max-width: 750px) {
      .categoria-descripcion-texto {
        display: none;
      }
      .divs2, .divs {
        width: 50% !important;
      }

      }


}