.containerHomeBicicletas{
  height: 100vh;
  width:100%;
}
.containerHomeBicicletas img{
  height:inherit;
  object-fit:cover;
  width:inherit;
}
.btnContainerBicicletas{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  padding:0 5%;
}
.imagenMedio{
    position: absolute;
    bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.biciNombreModelo{
  font-size: 48px;
  font-weight: bold;
  font-family: Roboto;
  font-style: normal;
  line-height: 56px;
  letter-spacing: 0.005em;
} 
.biciCategoria{
  font-size: 18px;
  font-weight: normal;
  font-family: Roboto;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.005em;
  color:#7B91B1;
  margin: 0;
}
.imagenBici{
  width:862px;
  height:432px;
}
.imagenBici img{
  width:inherit;
  height:inherit;
  object-fit:contain;
}
.biciDescripcion{
  font-size: 18px;
  font-weight: normal;
  font-family: Roboto;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.005em;
  min-height: 90px;
}
.biciPrecio{
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  line-height: 23px;
  letter-spacing: 0.005em;
  color:#00873A;
}
.btn-bicicleta{
  border: 1px solid #0B0B0B !important;
  font-size: 18px;
  font-weight: normal;
  font-family: Roboto;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.0125em;
  
}
.btn-bicicleta-amateur:hover{
color:white !important;
background:#00873A !important;
}
.btn-bicicleta-profesional{
  color:white !important;
  background:#EE3031 !important;
}
.btn-bicicleta-profesional:hover{
  background: #C12728 !important;
}
.InfoProdRelacionado{
  width: 100%;
  height:fit-content;
  text-align: start;
  padding-top: 1vw;
}
.bicicletaContainerHeader{
  display:flex;
  justify-content:center;
}
.InfoBicicleta{
  display:flex;
  flex-direction: column;
  align-items:center;
}
.biciDescripcionPrecio{
  display: flex;
  justify-content:space-between;
  width: 862px;
}
.descripcionBiciContainer{
  width:60%;
}
.caracteristica{
  display:flex;
  justify-content:center;
  padding:5% 0;
}
.InfoCaracteristica{
  padding-left: 5%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding-top: 10%;
}
.BiciCaracteristicasContainer{
  position:relative;
}
.BiciCaracteristicasContainer:last-child{
  padding-top:0;
}
.fondoLateralCaracteristica{
  position: absolute;
  left: 0;
  top:4%;
  height: 100%;
}
.fondoLateralCaracteristica img{
  height:inherit;
}
.tituloProductosRelacionados{
  font-size: 48px;
  font-weight: bold;
  font-family: Roboto;
  font-style: normal;
  line-height: 56px;
}
.ProductosRelacionadosContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imagenProdRelaci{
  width:393px;
  height:260px;
}
.imagenProdRelaci img{
  width:inherit;
  height:inherit;
  object-fit:contain;
}
.productosRelacionados{
  width:100%;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.SingleproductoRelacionado{
  border: 2px solid #DFDFDF;
  width: 32.2%;
  height: fit-content;
  margin: 10px 7px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}
.botonVerTodoProdRelacio{
  padding: 5% 0;
  text-align: center;
}
.botonVerTodo{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  background: #EE3031 !important;
  color:white !important;
}
.botonVerTodo:hover{
  background: #C12728 !important;
}
.precioBotonRelacio{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imagenCaracteristica{
  width:416px;
  height:623px;
}
.imagenCaracteristica img{
  width:inherit;
  height:inherit;
  object-fit:cover;
}
@media (min-width: 950px) and (max-width: 1200px) {
  .SingleproductoRelacionado{
    width:32%;
  }
  .imagenProdRelaci{
    width:100%;
    height:auto;
  }
  .biciNombreModelo{
    font-size: 30px;
  }
  .biciDescripcion{
    font-size: 14px;
  }
}
@media (max-width: 991px) {
.imagenBici{
  width: 500px;
  height: 300px;
}
.biciDescripcionPrecio{
  width:500px;
}
.SingleproductoRelacionado{
  width:40%;
}
.imagenProdRelaci{
  width:100%;
  height:auto;
}
.biciNombreModelo{
  font-size: 20px;
}
.biciDescripcion{
  font-size: 12px;
}
.biciPrecio{
  font-size: 16px;
}
}
@media (max-width: 770px){
  .SingleproductoRelacionado{
    width:100%;
  }
}