.section-visitenos {
    .visitenos {
        padding-top:75px;
        @media (max-width: 1000px) {
        padding-top: 5vw;
        }        
        .titulo h2 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 56px; 
            @media only screen and (max-width: 900px) {
                margin: 25px !important;
            }
        }
        .contenido {
            display: flex;
            justify-content:center;
            @media only screen and (max-width: 900px) {
                flex-direction: column !important;
            }            
        }
        .generalContainerVisita{
            position:relative;
        }
        .foto {
            width:50%;
            margin-bottom: 20px;
            display:flex;
            justify-content:center;
            @media only screen and (max-width: 900px) {
                width:100%;
            }
        }
        .fotoContainer{
            width: 624px;
            height:624px;
        @media (min-width: 900px) and (max-width: 1300px) {
            width: 100%;
            height:100%;
        }
        @media only screen and (max-width: 900px) {
            width:100%;
            height: 60vh;
        }
        }
        .fotoContainer img{
            width:inherit;
            height:inherit;
            object-fit:cover;
        }
        .descripcion {
            width:50%;
            display: flex;
            flex-direction: column;
            justify-content:center;
            padding-left: 5%;
            @media only screen and (max-width: 900px) {
                width:100%;
            }
            .destribuidor-visitenos {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.0025em;    
            }
            .nombre-visitenos {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: bold;
                font-size: 34px;
                line-height: 46px;
                /* or 135% */

                letter-spacing: 0.0025em;   
            }
            .destribuidor-visitenos {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.005em;
            }
        }
        .fondo-visitenos {
            position: absolute;
            z-index: -1;
            margin-top: 50%px;
            height: 400px;
            width: 100%;
            top:18%;
            background-repeat-y: no-repeat;
            background-size: cover;
            @media only screen and (max-width: 990px) {
                display: none;
            }
            @media only screen and (max-width: 1200px) {
                height: 300px;
            }
          }
    }
}