
 .section-slider-hover {

    h4 {
        margin-top: 25px !important;
        color: gray;
    }
    h2 {
        text-align: center;
        font-size: 48px;
        font-weight: bold;
      font-family: Roboto;
    } 

    
    
 &.Profesional {
     background-color: black;
     padding-top: 100px;

     h4 {
         margin-top: 25px !important;
         color: #fff;
     }
     h2 {
        color: #fff;
    }
     .item:hover {
         h4{
         font-weight: bold;
         font-size: 36px;
         line-height: 46px;
         color: #009641;
        }
     }
 }   

.carousel {
    
    height: fit-content;
    margin: auto !important;
  }
  .carousel .flickity-viewport{
      height:536px !important;
  }
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
  }

  .item {
      margin: 10px;
      display: flex;
  }
  .item a {
      text-decoration: none;
  }
  .item img {
    height: 425px !important;
    width: 284px !important;
  }
  .item h4 {
      text-align: center;
      @media only screen and (max-width: 600px) {
        color: black;
        font-weight: bold;
    }
  }
  .item:hover {
    img {
    height: 446px !important;
    width: 304px !important;
    margin-top: -10px !important;
    margin-left: -10px;
    }
    
    h4 {
        color: black;
        font-weight: bold;
        font-size: 36px;
        line-height: 46px;
        text-decoration: none !important;
    }

}

@media only screen and (max-width: 600px) {
    .carousel {
        margin-left: 50px !important;
    } 
    .tituloCategoriaHover{
        font-size:39px;
    } 
}

.fondo {
    margin-top: -250px;
    height: 400px;    
    background-repeat-y: no-repeat;
    background-size: cover;
    @media only screen and (max-width: 600px) {
        display: none;
    }

    .boton-slider {
        position: relative;
        // display: flex;
        // justify-content: center;
        // margin-top: 50px !important;
        // padding-bottom: 10px !important;
        top: 87.5%;
        text-align: -webkit-center;
        margin-top: -50px;
        @media only screen and (max-width: 600px) {
            display: none;
        }
    }

    .boton-slider a {
        width: 313px;
        height: 50px;
        color: white !important;
        background: #EE3031;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white !important;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.0125em;
        text-decoration: none;
    }

}
}