
.section-por-categoria {
    padding-bottom: 50px;
    &.Profesional {
        background-color: #000;
        .izq {
            color: #fff;
        }
        .card {
            background-color: #000;
            color: #fff;
            a {
                color: #fff !important;
            }
        }
        .action {
            .boton {
                border: 1px solid #fff ;
                a {
                color: white !important;
                }
            }
        }
    }
    
    .por-categoria {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: row !important;
        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

    }
    .izq {    
        justify-content: flex-start;
        width: 40%;
        text-align: justify;
        align-self: center;
        padding-right: 50px;
        @media only screen and (max-width: 900px) {
            width: 100%;
            padding: 0 25px;
        }    
        .title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 30px;
            @media only screen and (max-width: 900px) {
                text-align: center;
            } 
        }
        .descripcion {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
        }
        .fondo {
            text-align: center;
            margin-top: 50px;
            @media only screen and (max-width: 600px) {
                display: none;
            } 
        }
        
        
    }
    .foto-der {
        display: flex;
        justify-content: flex-end;
        width: 60%;
        img {
        object-fit: cover;
        }
        @media only screen and (max-width: 995px) {
            display: none;
        }  
    }



    .post-bicicleta {

    .carousel {
        width: 1250px;
        height: fit-content;
        margin: auto !important;
      }
      
      /* cell number */
      .carousel-cell:before {
        display: block;
        text-align: center;
        content: counter(carousel-cell);
        line-height: 200px;
        font-size: 80px;
      }
          .card-producto {
               display: flex;
               flex-direction: row;
               flex-wrap: wrap;
               justify-content: start;
               font-family: 'Roboto';
           }
         
           .card {
               width: 405px;
               height: 610px;
               margin: 5px;
               border: 2px solid #DFDFDF;
               box-shadow: none;
               @media only screen and (max-width: 600px) {        
                width: 390px !important;    
                visibility: hidden;
              }
              a {
                  text-decoration: none;
                  color: #000;
              }
           }
           @media only screen and (max-width: 600px) {           
            .card {
                margin-left: 0px !important;       
            }
            .card.is-selected {
                visibility: visible !important;
            }  
          }
           .card-image img{
            object-fit: cover;
            width: 393px;
            height: 260px; 
            @media only screen and (max-width: 600px) {        
                width: 385px !important;      
              }
           }
           .categoria {
               font-size: 18px;
               font-weight: 400;
               margin-bottom: -10px;
           }
          .card-title {
              font-size: 48px;
              font-weight: 700;
              margin-bottom: 0 !important;
           }
           .descripcion {
               font-size: 18px;
               font-weight: 400; 
               text-align: initial;
               margin-top: 12px;
          }
          .card-content {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 12px 30px;
          }
         
          .action {
              display: flex !important;
              flex-direction: row;
              align-items: center;         
              justify-content: space-between;
              margin-bottom: 20px;
              position: inherit;
              bottom: 0px;
              width: 100%;
              padding: 0 30px;  
              .precio {
                  width: 100px;
                   margin-right: 100px;
                   margin-top: 5%;
                   color: #00873A;
                  font-size: 20px;
                  text-align: initial;
                  display: contents;
               }
               .boton {
                   justify-content: end;
                      border: 1px solid #000;
                     color: black;
                       box-sizing: border-box;
                      font-size: 18px;
                     font-weight: 500;
                       font-family: 'Roboto';
                       width: 140px;
                       height: 40px;
                       display: flex;
                       align-items: center;
                       justify-content: center;

               }
          }
          
         
      
          .boton-card-producto {
              position: relative;
              top: 85%;
              display: flex;
              justify-content: center;
              margin-top: 50px !important;
              padding-bottom: 10px !important;
              flex-direction: row;
          }
      
          .boton-card-producto a {
              width: 313px;
              height: 50px;
              color: white !important;
              background: #EE3031;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white !important;
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              letter-spacing: 0.0125em;
              text-decoration: none;
           }
      }
}