.section-modal {
    @media (min-width: 576px){
        .modal-dialog {
            max-width: 1000px !important;
        }
    }
    .modal-body {
        padding: 50px 100px;
        .top {
            display: flex;
            .linea {
                border-top: solid 1px #000;
                width: 80%;
                margin-top: 13px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}   
