.slider_container{
    padding:4vw 0;
}

.slider_container_dark{
    background: black;
}
.slider_container_dark .slider_modelo,.slider_container_dark .slider_description,.slider_container_dark .slider_title{
    color:white;
}
.slider_container_dark .btn-slider{
    border: 1px solid white;
    color:white;
}

.slider_title{
    text-align: center;
    font-size:36px;
    font-weight: bold;
    font-family: Roboto;
}
.slider_item{ 
    display:flex;
    justify-content: center;
    position: relative;
    padding:1.2rem 0.5rem;
}
.slider_price{ 
    color:#009641;
    font-size: 1.5rem;
    font-weight: bold;
    width:max-content;
}
.slider_button_price{
    display:flex;
    align-items:baseline;
}
.slider_categoria{
    color:#7B91B1;
    font-size:18px;
}

.slider_carousel{
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 0 1.5rem;
}

.btn-slider{
    border: 1px solid #0B0B0B !important;
    color:black;
    box-sizing: border-box;
    font-size:18px;
    width: max-content;
}
.btn-slider-change{
    border: 1px solid #0B0B0B !important;

}
.imagen_slider_container{
    width:500px;
}
.imagen_slider_container img{
    width:inherit;
    height: 336px;
}
.slider_modelo{
    font-size: 36px;
    font-weight: bold;
}
.slider_description{
    font-size:18px;
}
.carrusel_container{
    overflow: initial;
    padding: 0 10vw;
}
.borderWhite{
    border: 1px solid white !important;
}
.slider_text{
    width: 50vw;
}
@media (max-width:1070px){
    .imagen_slider_container img{
        width:inherit;
        height: 210px;
    }
    .slider_item{ 
       flex-direction: column;
       align-items: center;
       border:2px solid #e8e7e7 ;
    }  
    .slider_button_price{
        justify-content: space-between;
    }
    .imagen_slider_container{
        text-align:center;
        margin-top:50px;
        width:336px;
    }
    .btn-slider-change{
        display:none;
    }
    .slider_categoria{
        position:absolute;
        top:1rem;
        font-weight:bold;
    }
    .slider_text{
        width: 94%;
    }
    .carrusel_container{
        padding:0;
    }
    .slider_carousel{
        padding:0 5px;
        margin-top: 5vw !important;
    }
    .slider_categoria,.slider_description,.slider_price,.btn-slider{
        font-size:16px;
    }
    .slider_modelo{
        font-size: 20px;
    }
    .slider_title{
        font-size:5vw;
    }

    
}
@media (max-width:470px){
    .imagen_slider_container{
        width:280px;
    }
}
.btn{
    border-radius: 0 !important;
}
