.slider_container{
    padding-top: 80px;
    padding-bottom: 141px;
}

.slider_container_dark{
    background: black;
}
.slider_container_dark .slider_modelo,.slider_container_dark .slider_description,.slider_container_dark .slider_title{
    color:white;
}
.slider_container_dark .btn-slider{
    border: 1px solid white !important;
    color:white;
}

.slider_title{
    text-align: center;
    font-size:48px;
    font-weight: bold;
    font-family: Roboto;
    font-style:normal;
    margin-bottom: 95px;
    
}
.slider_item{ 
    display:flex;
    justify-content: center;
    position: relative;
    padding: 0;
}
.slider_price{ 
    color:#009641;
    font-size: 24px;
    width:50%;
    font-weight: 500;
    font-family: Roboto;
    font-style:normal;
    line-height:28px;
    letter-spacing: 0.005em;
    align-items: center;
    display: contents;
}
.slider_button_price{
    display:flex;
    align-items:center;
}
.slider_categoria{
    color:#7B91B1;
    font-size:18px;
    font-weight: normal;
    font-family: Roboto;
    font-style:normal;
    line-height:21px;
    letter-spacing: 0.005em;
}

.slider_carousel{
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 0;
}

.btn-slider{
    border: 1px solid #0B0B0B !important;
    color:black;
    box-sizing: border-box;
    font-size:18px;
    display: flex !important;
    justify-content:center;
    align-items: center;
    width: fit-content;
    font-weight: 500;
    font-family: Roboto;
    font-style:normal;
    line-height:21px;
    letter-spacing: 0.0125em;
    
}
.btn-slider:hover{
    color:white !important;
    background:#00873A !important;
    border-color: white !important;
    
}
.btn-slider span{
    margin:0 7px;
}
.btn-slider-change{
    border: 1px solid #0B0B0B !important;
    width:55px;
    height:55px;
}
.imagen_slider_container{
    width:630px;
    height:336px;
}
.imagen_slider_container img{
    width:inherit;
    height:inherit;
    object-fit: cover;
}
.slider_modelo{
    font-size: 36px;
    font-weight: bold;
    font-family: Roboto;
    font-style:normal;
    line-height:46px;
    letter-spacing: 0.005em;
    margin-bottom: 50px;
}
.slider_description{
    font-size:18px;
    font-weight: normal;
    font-family: Roboto;
    font-style:normal;
    line-height:21px;
    letter-spacing: 0.005em;
    height: 170px;
    overflow:auto;
    padding-right: 18px;
}
.carrusel_container{
    overflow: initial;
    padding: 0 2vw;
}
.borderWhite{
    border: 1px solid white !important;
}
.slider_text{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.slider_button_price{
    justify-content: space-between;

    a span{
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
    }
}
@media (max-width:1070px){
    .slider_item{ 
       flex-direction: column;
       align-items: center;
       border:2px solid #e8e7e7;
       padding:0 0 5vw 0;
    }  

    .imagen_slider_container{
        text-align:center;
        margin-top:50px;
    }
    .btn-slider-change{
        display:none !important;
    }
    .slider_categoria{
        position:absolute;
        top:1rem;
        font-weight:bold;
    }
    .slider_text{
        width: 94%;
        margin:0 !important;
    }
    .carrusel_container{
        padding:0;
    }
    .slider_carousel{
        padding:0 5px;
        margin-top: 5vw !important;
    }
    .slider_categoria,.slider_description,.slider_price,.btn-slider{
        font-size:16px;
    }
    .slider_modelo{
        font-size: 20px;
    }
    .slider_title{
        font-size:5vw;
    }
    .slider_description{
        height:fit-content;
        padding:0;
    }
}
@media (max-width:850px){
    .imagen_slider_container{
        width:100%;
        height: auto;
    }

}
@media (min-width:1070px) and (max-width:1200px){
    .imagen_slider_container{
        width:530px;
    }
}
