.imageSectionContainer img{
  width:inherit;
  height:inherit;
  object-fit: cover;
}
.imageSectionContainer{
  width:602.34px;
  height:736.08px;
}
.wilier-section {
    padding: 50px 0;
   
  .contenidoinside {
    padding: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;    
    .division{
      width: 50%;
    }
   
  }
  
  @media (max-width: 1200px) and (min-width: 994px) {
    .titulo-wilier {
      padding-top: 0 !important;
    }
  }
  @media (max-width: 994px) {
    .contenido-wilier {
      margin-bottom: 0 !important;
    }
    .division {
      width: 100% !important;

      .imagen-wilier {
        width: 100%;
      }
    }
    .marca-wilier {
      margin-left: 0 !important;

    }
    .marca {
      text-align: center !important;
    }
    .contenidoinside {
      display: block !important;
    }
    .titulo-wilier {
      padding-top: 0 !important;
      font-size: 38px !important;
      text-align: -webkit-center;

    }
    .contenido-wilier {
      padding-right: 0 !important;
      margin-left: 0 !important;
    }
    .imagencontenedor {
      padding-left: 0 !important;
      margin-right: 0 !important;
      text-align: -webkit-center;
      margin-left: 0 !important;
    }
    .texto-wilier {
      display: none;
    }
    .imagen-marca {
      margin-top: 0 !important;
    }
    .texto-wilier2 {

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.005em;
      margin-top: 60px;
      display: block !important;
      text-align: left;
    }
    .imagen-marca2 {
      display: block !important;
      height: 162.91px;
    }
  }
  .contenido-wilier {
    align-content: center;
    margin-bottom: 100px;
  }
  .marca {
    padding-top: 60px;
  }
  .imagen-marca {
    z-index: 0;
    height: 162.91px;
    margin-top: -160px;
    display: flex;
    align-items: center;
  }
  .texto-wilier {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.005em;
    margin-bottom: 30px;
    width: 80%;
  }
  .titulo-wilier {
    padding-top: 120px;
    margin-bottom: 25px;
    font-size: 48px;
    font-style: normal;
    font-family: Roboto;
    font-weight: bold;
    line-height: 56px;
  }
  .imagencontenedor {
    padding-left: 50px;
  }
  .texto-wilier2 {
    margin-bottom: 30px;
    display: none;
  }
  .imagen-marca2 {
    display: none;
  }
  &.Amateur {
    background: white;
  }
  &.Profesional {
    background: black;
    color: white !important;

  }
  @media (max-width: 1650px) {
    .contenidoinside {
      align-items: normal;
    }
  }
}