
.imageSectionContainer{
  width:100%;
  height:750px;
}
.imageSectionContainer img{
  width:inherit;
  height:inherit;
  object-fit:cover;
}
.wilier-section {
    padding: 160px 0;
   
  .contenidoinside {
    padding: 0;
    display: flex;
    flex-wrap: wrap;    
    .division{
      width: 50%;
      display: flex;
      align-items: center;
      padding-right: 100px;
    }
   
  }
  .imagencontenedor{
    width: 50%;
  }
  @media (min-width: 994px) and (max-width: 1200px) {
    .titulo-wilier {
      padding-top: 0 !important;
    }
    .imagencontenedor{
      padding-right: 0;
    }
  }
  @media (max-width: 994px) {
    .imageSectionContainer{
      height:60vh;
    }
    .footerMovilSection{
      display:flex;
      justify-content: center;
    }
    .imageSectionContainer img{
      object-fit: contain;
    }
    
    .contenido-wilier {
      align-content: center;
      width:100% !important;
      justify-content: center;
      padding:0 !important;
    }
  
    .marca-wilier {
      margin-left: 0 !important;

    }
    .marca {
      text-align: center !important;
    }
    .contenidoinside {
      display: block !important;
    }
    .titulo-wilier {
      padding-top: 0 !important;
      font-size: 38px !important;
      text-align: -webkit-center;

    }
    .imagencontenedor {
      padding: 0;
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
    .texto-wilier {
      display: none;
    }
    .imagen-marca {
      margin-top: 0 !important;


    }
    .texto-wilier2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.005em;
      margin-top: 25px;
      display: block !important;
      text-align: left;
    }
    .imagen-marca2 {
      display: block !important;
      height: 162.91px;
    }
  }
  .marca {
    padding-top: 60px;
  }
  .imagen-marca {
    z-index: 0;
    height: 162.91px;
    margin-top: -160px;
    display: flex;
    align-items: center;
    background-size: contain !important;
  }
  .texto-wilier {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.005em;
    margin-bottom: 30px;
    width: 100%;
  }
  .titulo-wilier {
    margin-bottom: 25px;
    font-size: 48px;
    font-style: normal;
    font-family: Roboto;
    font-weight: bold;
    line-height: 56px;
  }
  .texto-wilier2 {
    margin-bottom: 30px;
    display: none;
  }
  .imagen-marca2 {
    display: none;
  }
  &.Amateur {
    background: white;
  }
  &.Profesional {
    background: black;
    color: white !important;

  }
  @media (max-width: 1650px) {
    .contenidoinside {
      align-items: normal;
    }
  }
}